@model ProjetoModeloDDD.MVC.ViewModels.AnimalViewModel

@{
    ViewBag.Title = "PlaySom";
}


<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Som)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Som)
        </dd>

    </dl>
</div>
